*{
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Nunito';font-size: 22px;
}


.topBar-Res{
    background-color:#769FCD;
    margin: 0%;
}
.topBar-Res p{
    font-size: 10px;
    text-align: center;
    margin: 0px;
    color: white;
}
.blink {
    animation: blinker 1.5s linear infinite;
    color: red;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.topBar{
    background-color:#769FCD;
    height: 15px;
}
.topBar p{
    font-size: 10px;
    text-align: center;
    margin: 0px;
    color: white;
}

@media (max-width: 2560px){
    .topBar{
        display: block;
    }
    .topBar-Res{
        display: none;
    }
}

@media (max-width: 768px){
    .topBar{
        display: none;
    }
    .topBar-Res{
        display: block;
    }


}
.SocialIcon{
    margin-top: -13px;
    text-align: end;
    padding-right: 20px;
}

.SocialIcon i{
    font-size: 10px;
    margin-right: 5px;
    color: white;
}

.Social_Icon {
    display: flex;
    padding-top: 150px;
}
.Social_Icon i{
    font-size: 15px;
    color: white;
}
.navBar-Res{
    background-color: #B9D7EA;
}

.navBar{
    height: 50px;
    background-color:#B9D7EA;
}

.link_NavBar ul {
    display: flex;
    padding-left: 80px;
}

.link_NavBar ul li{
    list-style: none;
    color: rgb(1, 1, 1);
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    margin: 15px 15px 0px 0px;

}

.link_NavBar ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
}

@media (max-width: 2560px){
    .navBar{
        display: block;
    }
    .navBar-Res{
        display: none;
    }
}

@media (max-width: 768px){
    .navBar{
        display: none;
    }
    .navBar-Res{
        display: block;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0px;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



  /* Dropdown Button */
.dropbtn {
    color: white;
    font-size: 12px;
    font-weight: bolder;
    border: none;
    background: none;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#769FCD;
    min-width: 100px;
    z-index: 1;
}

  /* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 10px;
    padding: 0px 0px 0px 0px;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffffff; color: black;}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {font-style: normal;}

